In [2]:
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

data = pd.read_excel('./Uber_Data.xlsx', sheet_name=2)

In [3]:
data.head()

,city_id,period_start,wait_time,treat,commute,trips_pool,trips_express,rider_cancellations,total_driver_payout,total_matches,total_double_matches
0,Boston,2018-02-19 07:00:00,2 mins,False,True,1415,3245,256,34458.411634,3372,1476
1,Boston,2018-02-19 09:40:00,5 mins,True,False,1461,2363,203,29764.349821,2288,1275
2,Boston,2018-02-19 12:20:00,2 mins,False,False,1362,2184,118,27437.367363,2283,962
3,Boston,2018-02-19 15:00:00,5 mins,True,True,1984,3584,355,44995.452993,4035,2021
4,Boston,2018-02-19 17:40:00,2 mins,False,False,1371,2580,181,27583.955295,2200,979

In [4]:
print(data.columns)

Index(['city_id', 'period_start', 'wait_time', 'treat', 'commute',
       'trips_pool', 'trips_express', 'rider_cancellations',
       'total_driver_payout', 'total_matches', 'total_double_matches'],
      dtype='object')

Initial observations:
    - create time of day variable based on switchback period start 
        -> classify as morning - 6 am to 11:59 pm, afternoon - 12 pm to 5:59 pm, evening - 6 pm to 11:59 pm, night - 12 am to 5:59 am)
    - wait_time can be deleted since it is redundant (treat is False when wait_time is 2 mins and True if not)
    - commute -> True if period in rush hours (7-9:40 am OR 3-5:40 pm), False if not
    - research the meaning and differences behind POOL trips and EXPRESS trips (price, target consumer, service category)
    - rider_cancellations -> VARIABLE TO BE PREDICTED (CONTINUOUS)
    - total_driver_payout -> total amount paid by Uber to its drivers for rides related to this time period
    - create cost per match (total_driver_payout / total_matches) and cost per completed trip (total_driver_payout / total trips)
        - explore trips_pool, trips_express, total_matches and total_double_matches to findout any additional variables to be included, like total trips